.chat{
    background-color: aliceblue;
    border-radius: 16px;
    padding: 20px;
    display:inline-block
    /* display: flex; */

}
.msg{
    font-weight: bolder;
    font-style: italic;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
   text-transform: uppercase;
}
body{
    margin-left: 25px;

}
